@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap");
body {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
}

button {
  width: 200px;
  border-radius: 30px;
  border: none;
  height: 30px;
  background-color: #00A35C;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

nav {
  width: 100%;
  background-color: black;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  border: solid 1px black;
}
nav ul li {
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}
nav ul .link-nav {
  font-size: 25px;
  color: white;
  font-family: "Dr Sugiyama", cursive;
  text-decoration: none;
}
nav ul .link-logo {
  flex-grow: 3;
}
nav ul .logo-title {
  margin: 0;
  padding: 0;
  font-family: "Dr Sugiyama", cursive;
  font-size: 30px;
  color: white;
}

@media screen and (min-width: 320px) and (max-width: 802px) {
  ul {
    flex-direction: column;
  }
  ul li {
    text-align: center;
  }
  ul .link-nav {
    width: 100%;
  }
  .link-logo {
    display: none;
  }
}
.bloc-banner {
  width: 100%;
  height: 75vh;
}
.bloc-banner__pics {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.bloc-banner h2 {
  font-family: "Merriweather", serif;
  color: white;
}
.bloc-banner__text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: solid 2px green;
  position: relative;
  bottom: 500px;
  width: 30%;
  height: 260px;
  left: 25px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.bloc-banner__title {
  margin: 0;
}
.bloc-banner__link {
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  color: white;
  text-decoration: none;
  background-color: #BB9457;
  font-family: "Merriweather", serif;
}

@media screen and (min-width: 320px) and (max-width: 802px) {
  .bloc-banner__text {
    bottom: 350px;
    width: 80%;
    left: 10%;
  }
}
.card-home {
  width: 20%;
  height: 250px;
  position: relative;
  bottom: 30px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
.card-home__title {
  border: solid 1px black;
  text-align: center;
  font-family: "Merriweather", serif;
}
.card-home__description {
  font-family: "Merriweather", serif;
  width: 100%;
  height: 180px;
  text-align: center;
  border: solid 1px black;
}

@media screen and (min-width: 320px) and (max-width: 802px) {
  .card-home {
    bottom: 0;
    width: 90%;
    height: 250px;
  }
  .card-home__description {
    height: auto;
  }
}
.card-movies {
  border: solid 2px #BB9457;
  width: 300px;
  position: relative;
  background-color: #BB9457;
}
.card-movies__img {
  width: 300px;
  object-fit: cover;
}
.card-movies__blc-synopsis {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  position: absolute;
  border: solid 1px #BB9457;
  width: 300px;
  height: 400px;
  opacity: 0;
  cursor: pointer;
}
.card-movies__blc-synopsis:hover {
  transition: 2s;
  opacity: 1;
}
.card-movies__blc-synopsis p, .card-movies__blc-synopsis h2 {
  padding: 5px;
  color: white;
}
.card-movies__form {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: white;
}
.card-movies__form input {
  margin: 10px;
  width: 70%;
  padding: 5px;
}
.card-movies__form select {
  margin: 10px;
  width: 50%;
}
.card-movies__btn-booking {
  margin-left: 80px;
  margin-top: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  color: white;
}

.form-contact {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.75);
}
.form-contact input {
  margin: 10px;
  padding: 10px;
}
.form-contact textarea {
  margin: 10px;
  padding: 5px;
}
.form-contact .btn-send {
  margin-left: 400px;
}

section {
  width: 50%;
  padding: 50px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  height: 80px;
  background-color: black;
}
footer p {
  font-family: "Merriweather", serif;
  color: white;
}

#main-home {
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 320px) and (max-width: 802px) {
  #main-home {
    flex-direction: column;
    height: 140vh;
    align-items: center;
  }
}
#main-movies {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
}

#main-contact {
  width: 100%;
  display: flex;
}/*# sourceMappingURL=style.css.map */