@import url('https://fonts.googleapis.com/css2?family=Dr+Sugiyama&display=swap');

nav {
    width: 100%;
    background-color: black;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            border: solid 1px black;
        
                li {
                    display: flex;
                    align-items: center;
                    padding: 20px;
                    cursor: pointer;
                }

                .link-nav {
                    font-size: 25px;
                    color: white;
                    font-family: 'Dr Sugiyama', cursive;
                    text-decoration: none;

                }

                .logo {
                    flex-grow: 3;
                    font-family: 'Dr Sugiyama', cursive;
                    font-size: 30px;
                    color: white;
                }
        }
}
