@use "../utils/breakpoint" as *;
@use "../utils/variables" as *;

nav {
    width: 100%;
    background-color: black;

        ul {
            display: flex;
            margin: 0;
            padding: 0;
            list-style: none;
            border: solid 1px black;
        
                li {
                    display: flex;
                    align-items: center;
                    padding: 20px;
                    cursor: pointer;
                }

                .link-nav {
                    font-size: 30px;
                    color: $color-secondary;
                    font-family: $font-nav;
                    text-decoration: none;
                }

                .link-logo {
                    flex-grow: 3;
                }

                .logo-title {
                    margin: 0;
                    padding: 0;
                    font-family: $font-nav;
                    font-size: 30px;
                    color: $color-secondary;
                }
        }
}

@include breakpoint(mobile-tablet) {
    ul {
        flex-direction: column;
        
            li {
                text-align: center;
            }

            .link-nav {
                width: 100%;
            }
    }

    .link-logo {
        display: none;
    }
}
